.container img {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
}

/*.block {
    width: 50%;
    height: 600px;
    position: absolute;
    left: 0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f4f4df;
    
}*/

.logo {
    position: absolute;
    z-index: 1px;
}

.logo h2 {
    padding-left: 15px;
    margin-top: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}

.buttons img {
    position: absolute;
    top: 25%;
}
