div.image {
    margin: 8px;
    display: inline-block;
}

div.image img {
    object-fit: cover;

  /*width: 300px;
  height: 300px;*/
    
    
    border: 1px solid #ccc;
}

div.image img:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.32), 0 0 0 0px rgba(0,0,0,0.16);
}

#gridview {
    justify-content: space-around;
    margin-bottom: 30px;
}

@media screen and (min-width: 1224px) {
    div.image img {
        width: 280px;
        height: 280px;
    }
}

@media screen and (min-width: 1044px) and (max-width: 1224px) {
    div.image img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 845px) and (max-width: 1044px) {
    div.image img {
        width: 200px;
        width: 200px;
    }
}